/*Header*/
header{
    margin-top: 30px;
}

#ligne{
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    margin-left: 5%;
    margin-right: 5%;
}

#logo img{
    width: 95px;
}

